<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zelda acortador</title>
    <link rel="stylesheet" href="../static/public/styles.css">
    <link rel="stylesheet" href="../static/css/fondo.css">
</head>
<body class="background">


  

 
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>


        <div class="w-full max-w-xs float-right mt-10 mr-10">
            {% block content %}
    
            {% endblock %}
        </div>


 
    

        
    
</body>
</html>