{%extends "base.html"%}



{% block content %}

<form action="/acortar/{{zelda.id}}" method="GET" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <div class="mb-4">
        <input type="url" name="zelda" placeholder="https://example.com" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" value="{{zelda.zelda_original}}">
    </div>
    <div class="mb-4">
        <input id='shorulr'type="text" name="zelda_corto" onclick="copiarUrl()" placeholder="zelda corto" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" disabled readonly value="http://127.0.0.1:3001/{{zelda.zelda_corto}}">
    </div>
    <div class="flex items-center justify-between">
        <button type="button" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full" onclick="redirigirALanding()">Limpiar</button>
        <button type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-full" >Acortar</button>
        <button id="bottoncopiar" type="button" onclick="copiarUrl()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" >Copiar</button>
    </div>


    

</form>

<script src="{{ url_for('static', filename= 'js/boton_copiar.js') }}"></script>
{% endblock %}



